---
title: Templates
permalink: /notebook/templates/
layout: none
nesting: ""
---

<div class="contain">
    <div class="col">
        <fieldset>
            <legend><h2>Photogrid</h2></legend>
             <a href="/notebook/templates/photogrid-layout.html" target="_blank" rel="noopener noreferrer"><img src="/images/templates/photogrid.png"></a><br>
            <a href="/notebook/templates/photogrid-layout.html" target="_blank" rel="noopener noreferrer">Live Preview</a> | <a href="/notebook/templates/photogrid-layout.html.txt">Install</a><br>
             Host your own little "instagram" page on your website! Do you hate instagram but love sharing photos on it? Here's your solution. Share it with your family and friends! It's mobile friendly too!
        </fieldset>
    </div>
    <div class="col">
        <fieldset>
            <legend><h2>Coming Soon</h2></legend>
           Coming soon
        </fieldset>
    </div>
</div>
