<div class="timeline-list">
<ul>
  <li><a href="/shrines/drakengard3">Index</a></li>
  <li>
    Introduction
    <ul>
      <li><a href="howto">How to play</a></li>
      <li>Gameplay Overview</li>
    </ul>
  </li>
    <li>
    Story & Lore
    <ul>
      <li>Story Summary</li>
      <li>Characters</li>
      <li>Weapon Stories</li>
      <li>Verse Timeline</li>
      <li>Side Content / DLC</li>
      <li>Lore Connections</li>
    </ul>
  </li>
 <li>
    Media
    <ul>
      <li>Gallery</li>
      <li>Soundtrack</li>
      <li>Quotes & Dialogue</li>
    </ul>
  </li>
  <li>
    Meta
    <ul>
      <li><a href="links">Links/Resources</a></li>
    </ul>
  </li>
</ul>
</div>