   body{
      background-color: black;
      background-image: url("sampleurl.jpg");
      text-align:center;
      color:#fff;
      font-family: "Courier New";
      font-weight: 100;
      }
      
    h2{
      font-weight:100;
      }
    ul, li{
      list-style-type:none;}
      
      /*change the link color*/
      
      a:link{
      color: gray;
      text-decoration:none;}
      a:visited {
        color: gray;}
        
        button {
  display: inline-block;
  background-color: #7b38d8;
  padding: 20px;
  width: 200px;
  color: #ffffff;
  text-align: center;
  border: 4px double #cccccc; /* add this line */
  border-radius: 10px; /* add this line */
  font-size: 28px; /* add this line */
}
        
/*Bookshelf Styles*/
              
.container{
  width:1100px;
  height:500px;
  margin-top:100px;
  margin-left:auto;
  margin-right:auto;
  
}

.bookshelf{
  padding:20px;
  position:relative;
  width:1000px;
  height:400px;
  background-image: url(/RoomImgs/LargeBookshelf.png);
  background-size: cover;
  }

.books{
  width:800px;
  position:relative; 
  margin-left:auto;
  margin-right:auto;
  filter:grayscale(1);
}

.books img{
background-color:white;
margin:5px;
padding:5px;
width:150px;
height:225px;
transition: all 0.6s ease-out;
}

.books img:hover{
 filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
 transition: all 0.6s ease-out;
}

.book{
  position:absolute;
  margin-top:70px;
  
}