---
layout: base.njk
title: Bedroom
permalink: /bedroom/
showToc: false
---
<div class="outer">
<aside class="left">
{% include "html/main/cal.html" %}
{% include "html/main/moonphase.html" %}
</aside>
<main>
    <div class="main-head">My Bedroom</div>
<div class="main-inner">
<div class="picart"><img id="profile-pic" src="" title="click to shuffle!" style="cursor:var(--cursor-pointer);"></div>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
 <div class="mini-pics">{% include "html/main/minipicfeed.html" %}</div>
</div>
</main>



<aside class="right">
    <nav class="right-inner">
        <ul>
        <li><div><a href="/photogrid">Photos</a></div></li>
        <li><div><a href="/bedroom/toybox">Toybox</a></div></li>
        <li><div><a href="/bedroom/lists">Lists</a></div></li>
        <li><div><a href="/bedroom/piccrew">Piccrews</a></div></li>
        <li><div><a href="/bedroom/shrines">Shrines</a></div></li>
        </ul>
</nav>
</aside>
</div>

<footer>
<a href="/">Return Home</a>  | Credits: <a href="https://hillhouse.neocities.org/">background image</a>, <a href="https://www.deviantart.com/darkdevi/art/romantic-alice-stationary-79153257">stationary drawing</a>
</footer>
<script>
[...document.querySelectorAll(".mini-pics")]
  .map(div => div.children[0])
  .forEach(innerDiv => {
    let follower = innerDiv.cloneNode(true);
    follower.classList.add("follower");
    innerDiv.parentElement.appendChild(follower);
    follower.classList.add("play");
    innerDiv.classList.add("play");
  });
</script>
<script>
  const piccrews = {{ piccrew | dump | safe }};
</script>
<script>
  const img = document.getElementById("profile-pic");

  function randomPic() {
    const random = piccrews[Math.floor(Math.random() * piccrews.length)];
    img.src = random.src;
    img.alt = random.alt;
  }

  img.addEventListener("click", randomPic);

  // generate one on page load
  randomPic();
</script>