---
layout: base.njk
title: Bedroom
permalink: /bedroom/
showToc: false
---
<div class="outer">
<aside class="left">
{% include "html/main/cal.html" %}
{% include "html/main/moonphase.html" %}
    
</aside>
<main>
    <div class="main-head">My Bedroom</div>
<div class="main-inner">Welcome to my innermost thoughts, or whatever I'm comfortable sharing online. This is a space for all things <b>me</b>-related. More things to come.</div>
</main>
<aside class="right">
<a title="Pictures" class="pic-nav" href="/photogrid"><img src="/images/graphics/camera.png"></a>
<a title="Writings" class="pic-nav" href="/blog"><img src="/images/graphics/pixels/notebook.gif"></a>
<a title="Toybox" class="pic-nav" href="/bedroom/toybox"><img src="/images/graphics/teddy.gif"></a>
</aside>
</div>
<footer>
<a href="/">Return Home</a>  | Credits: <a href="https://hillhouse.neocities.org/">background image</a>, <a href="https://www.deviantart.com/darkdevi/art/romantic-alice-stationary-79153257">stationary drawing</a>
</footer>
