body{
    background-color: #de9ead;
    background-image: url(/images/graphics/bedroom-bg.png);
}


footer{
    color:rgb(48, 36, 36);
    font-weight: bold;
    font-size: small;
}

footer a{
        color:rgb(26, 26, 26);
    font-weight: bold;
}

.outer{
    margin: auto;
    margin-top: 100px;
    max-width: 1200px;
    display: flex;
    gap: 25px;
    justify-content: center;
}

main{
    display: flex;
    width: 580px;
    height: 444px;
    background-image: url("/images/graphics/bedroom-paper.png");
    background-repeat: no-repeat;
  flex-direction: column;
}


.main-head{
width: 250px;
margin-top: 110px;
margin-left:200px;
font-size: 34px;
font-family: "folklore-it";
}

.main-inner{
    margin-top: 0px;
    margin-left:90px;
    max-width: 370px;
}

.picart {
        width: 90px;
    height: 90px;
    padding-right:10px;
        float:left;
}

.picart img{
    width: 90px;
    height: 90px;
    color: #111;
    font-size: 90px;
    float:left;
    border:#000 2px solid;
    border-radius: 7px;
    filter: grayscale(75%);
    transition: all ease-in-out .3s;
}

.picart img:hover{
filter: none;
}


.left{
    max-width: 200px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.right{
    width: 300px;
    min-height: 320px;
    background-image: url("/images/graphics/bedroom-paper2.png");
    background-repeat: no-repeat;
    transform: rotate(3deg);
    margin-top: 100px;
}

.right-inner{
padding-left: 20px;
margin-top: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.right li{
list-style: none;
}


.pic-nav img{
    min-width: 60px;
    image-rendering: pixelated;
    margin-bottom: 10px;
    transition: all ease-in-out .3s;
    filter: grayscale(50%) drop-shadow(4px 8px 8px rgba(123, 63, 63, 0.90));
}

.pic-nav img:hover{
transform: scale(1.2);
}


@media (max-width: 800px) {
.outer{
  flex-direction: column-reverse;
  margin-top: 0;
justify-content: center;
padding:3px;
}
.right{
    order:1;
    flex-direction: row;
    align-items:end;
    justify-content: center;
    margin:auto;
}


.left{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    max-height: 200px;
    flex-wrap: wrap;
}

}




    #contain_moon{
transform: rotate(1deg);
background-color: #fff;
    }

    .cal{
        transform: rotate(-1deg);
        background-color: #fff;
    }

    
.toybox{
    background-color: antiquewhite;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    border: double 4px #000;
}


.mini-pic-feed img{
filter: grayscale(80%);
transition: all ease-in-out .3s;
width: 50px;
}

.mini-pic-feed img:hover{
    filter: none;
}

/* Marquee */

.mini-pics {
  overflow: hidden;
  width: fit-content;
  position: relative;
  width: auto;
  filter: grayscale(60%);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.mini-pics > div {
  animation: marquee 10s linear infinite;
  animation-play-state: paused;
  animation-delay: -5s; /* This MUST be -duration/2 */
  width: 100%;
  min-width: fit-content;
  text-wrap: nowrap;
}

.mini-pics > div.follower {
  position: absolute;
  top: 0;
  animation-delay: 0s;
}

.mini-pics > div.play {
  animation-play-state: running;
}

.mini-pics:hover > div.play {
  animation-play-state: paused;
}
