.index {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 5px;
  padding: 5px;
}

.updates-aside {
  position: relative;
  flex: 0 0 200px;
  height: 400px;
  padding: 0;
}

.aside-inner {
  position: relative;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;

  background-image: url("/images/graphics/updates.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.candle {
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 50px;
  height: auto;
  z-index: 20;
}


.stamp-wrap {
  position: absolute;
  bottom: -200px;
  left: 0px;
  z-index: 10;
}

#stampsociety{
  transform: scale(.75);
  transform-origin: left top;
}


aside img {
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 50px;
  height: auto;
}

main {
  flex: 1;
  box-sizing: border-box;
  position: relative;
  margin: 10px;
  padding: 20px;
  min-height: 500px;
  background-image: url(/images/graphics/snails.png);
  background-size: 40%;
  background-position: top right;
  background-repeat: no-repeat;
  background-color: #f4f2e6;
  border: 4px double #391820;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

main::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/images/graphics/paper-texture.png");
  pointer-events: none;
}
main::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 220px;
  left: 0px;
  top: -20px;
  background: url("/images/graphics/coffee-stain.png") no-repeat center/contain;
  opacity: 0.4;
  pointer-events: none;
}

main img{
  margin:0;
}

main p::first-letter {
       font-family: "RoseCaps";
       font-size: 70px;
       vertical-align: bottom;
}

.stain {
  position: absolute;
  width: 350px;
  height: 300px;
  right: 0px;
  bottom: -50px;
  background: url("/images/graphics/coffee-stain2.png") no-repeat center/contain;
  opacity: 0.5;
}

.wax-seal{
    background: url("/images/graphics/coffee-stain2.png") no-repeat center/contain;
}

@media (max-width: 600px) {
  .index {
    flex-direction: column;
  }

  aside,
  main {
    width: 100%;
  }

  aside {
    order: 2;
  }

  main {
    order: 1;
    margin: 0;
  }


  .stamp-wrap {
    position: relative;
    bottom: auto;
    left: auto;
    margin-top: 0px;
    transform: scale(0.75);
    transform-origin: center top;
  }

  .aside{
    padding-bottom: 30px;
  }

}

.buttons-n-blinkers {
  overflow: hidden;
  width: fit-content;
  position: relative;
  width: auto;
  filter: sepia(60%);
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.buttons-n-blinkers > div {
  animation: marquee 30s linear infinite;
  animation-play-state: paused;
  animation-delay: -15s; /* This MUST be -duration/2 */
  width: 100%;
  min-width: fit-content;
  text-wrap: nowrap;
}

.buttons-n-blinkers > div.follower {
  position: absolute;
  top: 0;
  animation-delay: 0s;
}

.buttons-n-blinkers > div.play {
  animation-play-state: running;
}

.buttons-n-blinkers:hover > div.play {
  animation-play-state: paused;
}

.updates {
  margin-top: 25px;
  font-size: 15px;
  margin-left: 20px;
  line-height: 1.2;
}

.updates h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

.updates ul {
  margin: 0;
  padding-left: 15px;
}

.blog-feed {
  position: relative;
  max-width: 600px;
  margin: 20px 10px 0;
  padding: 18px 22px;
  transform: rotate(-1deg);
  background-color: #daccb9;
  background-image: url("/images/graphics/black-paper.png"); 
  background-size: auto;
  background-repeat: repeat;
   border-color: #2d1b1f;
  border-style: double;
  border-width: 4px;
  box-sizing: border-box;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px rgba(255, 255, 255, 0.4);
  font-size: 15px;
  line-height: 1.4;
}

.blog-feed h2{
    font-family: GothPixelFont;
    font-size: 30px;
    margin: 1px;
}

.blog-feed h3{
    font-size: px;
    margin: 1px;
}

.blog-feed h2::first-letter {
       font-family: "RoseCaps";
       font-size: 40px;
       vertical-align: bottom;
}

.blog-feed p::first-letter {
  all: unset;
}

.blog-feed::before {
  content: ""; /* REQUIRED */
  position: absolute;
  top: -30px;
  right: 10px;
  width: 120px;
  height: 120px;
  background-image: url("/images/graphics/wax-stamp.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(30deg);
  z-index: 5;
  pointer-events: none;
}

@media (max-width: 640px) {
  .blog-feed {
    margin: 20px 10px;
    max-width: 100%;
  }

  .stain{
    display: none;
  }


}

