
@import '/css/normalize.css';

:root {
  --wine: rgb(131, 54, 83);
  --babypink:rgb(255, 248, 248);
}


@font-face{
  font-family: Daydream;
  src: url(/fonts/Daydream.ttf) /* Credit: https://www.dafont.com/daydream-3.font */
}

@font-face {
  font-family: RomanceA;
  src: url(/fonts/RomanceA.ttf); /* Credit: https://cinni.net/?z=/font */
}

@font-face {
  font-family: Basiic;
  src: url(/fonts/basiic.ttf); /* Credit: https://cinni.net/?z=/font */
}

@font-face {
  font-family: GothPixelFont;
  src: url(/fonts/GothPixelFont.ttf); /* https://dacosta.itch.io/gothic-pixel-font */
}

@font-face {
  font-family: OldEnglishGoth;
  src: url(/fonts/OldEnglishGoth.ttf); /* https://www.fontspace.com/old-english-gothic-pixel-font-f83405 */
}

@font-face {
  font-family: Fira Code;
  src: url(/fonts/FiraCode.ttf); /* https://fonts.google.com/specimen/Fira+Code */
}


body{
    font-family: 'Basiic';
    line-height: 1em;
    letter-spacing: 1px;
    background-color: #ba8a9e;
    background-image: url(/images/background.jpg); /* Credit: https://goblin-heart.net/sadgrl/webmastery/downloads/tiledbgs */
    color:var(--wine);
    font-size: 16px;
    justify-items: center;
}


a{
    color:var(--wine);
    text-decoration: none;
}

aside a{
  text-decoration: none;
}

a:hover{
    color:rgb(148, 49, 104);
}

a[target="_blank"]::after {
  content: "\F1C5"; /* bi-box-arrow-up-right */
  font-family: 'bootstrap-icons';
  margin-left: 0;
  margin-left: 0.25em;
  font-size: 0.65em;
}

li{
    list-style-type: square;
    margin-left:-0.3em;
    line-height: 1em;
}

ul{
    line-height: 1em;
    padding-inline-start: 10px;  
}

/* NAVIGATION */

ul.a, ul.a li {
  list-style-type: '\2661';
}

ul.a li{
  border-bottom: 1px dashed rgb(237, 188, 204);
  padding: 5px;
  font-weight: bold;
  transition: .4s;
}

ul.a li:hover{
  background-color: rgb(254, 228, 236);
}

h1{
  font-family: 'GothPixelFont';
  font-size: xx-large;
  margin-block-start: 1;
  margin-block-end: 1;
}

h2{
  font-family: 'RomanceA';
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

h2 a{
  text-decoration: none;
}

pre code {
  display: block;
  background-color: #f4f4f4;
  color: #333;
  padding: 1rem;
  border-radius: 8px;
  overflow-x: auto;
  font-size: 0.9rem;
  line-height: 1.4;
  font-family: 'Fira Code', 'Courier New', monospace;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #e0e0e0;

}

pre {
  margin-bottom: 1.5rem;
}


/* TABLE STYLES */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2em;
  background-color: #ffeef2;
  box-shadow: 0 0 0 4px #fff8fb, 0 0 0 8px #fcdce6; /* subtle layered frame */
  font-size: 0.95rem;
}

th {
  background-color: var(--wine);
  color: #ffdee6;
  font-family: "RomanceA";
  font-size: 1.3rem;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #a35773;
  letter-spacing: 1px;
}

td {
  background-color: #ffe0e8;
  color: #3e2a2a;
  padding: 7px;
  border-top: 1px dotted #f2b6c5;
  font-family: "Basiic", sans-serif;
  font-weight: 700;
}

td:last-child,
th:last-child {
  max-width: 100px;
  width: 150px;
}

td:not(:last-child), th:not(:last-child) {
  border-right: 1px dotted #d6a2b8; /* cute pastel pink border */
}


tr:nth-child(even) td {
  background-color: #ffeaf0;
}

tr:hover td {
  background-color: #fddde7;
}

.platform{
  text-align: center;
}


/* */

.content{
  padding: 20px;
}

.container { 
    margin-top: 50px;
    width: 75%;
    height: 80%;
    display: grid;
    grid-template-columns: 250px 80%;
    grid-template-rows: auto minmax(auto, 80px);
    gap: 30px;
    grid-auto-flow: row;
    grid-template-areas:
      "aside main"
      "footer footer";
  }

  
  aside {
    grid-area: aside;
    height: auto;
    background-color: var(--babypink);
    border: 30px solid transparent;
    border-image-source: url(/images/pink-border.png);
    border-image-slice: 80;
    border-image-repeat: round;
    border-image-outset: 5px;
    box-shadow: 0 0 15px 5px rgba(131, 104, 121, 0.455);
  }

  main {
    grid-area: main;
    min-height:65vh;
    background-color: var(--babypink);
    border: 30px solid transparent;
    border-image-source: url(/images/pink-border.png);
    border-image-slice: 80;
    border-image-repeat: round;
    border-image-outset: 5px;
    box-shadow: 0 0 15px 5px rgba(131, 104, 121, 0.455);
}
  
  footer {
    margin-bottom: 20px;
    grid-area: footer;
    min-height: 20px;
    text-align: center;
    background-color: var(--babypink);
    border: 30px solid transparent;
    border-image-source: url(/images/pink-border.png);
    border-image-slice: 80;
    border-image-repeat: round;
    border-image-outset: 5px;
    box-shadow: 0 0 15px 5px rgba(131, 104, 121, 0.455);
}


   details summary{
    font-weight: bold;
    font-style: italic;
    font-size: larger;
  }

  details>* {
    margin-left: 1em;
  }
  
  details {
    border-left: 2px solid rgb(255, 255, 255);
  }
  
  details>details {
    border-left: 2px dashed rgb(255, 255, 255);
  }

  
  details>details>details {
    border-left: 2px dotted rgb(255, 255, 255);
  }

  fieldset{
    border: var(--wine) 1px dashed;
    background-color: #fff;
    overflow-y: scroll;
    height: 120px;
    width: 45%;
    padding: 6px;
    display: inline-block;
    vertical-align: top;
  }

  /* moble view */

  @media ( max-width: 750px ) {


    ul li{
        display: inline;
        margin-left: 1em;
      }
      
    .button{
     display: none;
    }
    
    .container { 
        width: auto;
        display: grid;
        margin-left: 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
          "aside"
          "main"
          "footer";
      }
      
      aside { grid-area: aside; text-align: left; max-height: 300px;}
      
      main { grid-area: main;
            margin-top: 10px; height: auto;}
      
      footer {
        grid-area: footer;
        text-align: left;
        max-height: 70px;
    }
    
    .ascii{
        font-family: monospace;
        white-space: pre;
    }

    section.box{
      overflow-y: scroll;
      height: 100px;
      width: 95%;

    }

}

figure {
  margin-left: 0 !important;
  margin-right: 0 !important;
  position: relative;
  margin: 0;
}

figure img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
  


  /* BLOG PAGE STYLES */

  .post-list{
    max-width: 700px;
  }

  .post-item{
    margin-top: 10px;
    padding: 10px;
    list-style-type: none;
    border: 1px var(--wine) dashed;
    background-color: #fff;
  }

  /* PHOTOGRID STYLES */

.card{
  background-color:fff;
  padding:10px;
  height: 300px;
  margin:2px;
  border: 1px dashed var(--wine);
  transition: 0.3s;
}

.card:hover{
  rotate: 5deg;
  transform: scale(0.90);

}

.card img {
  width: 100%;
  height: auto;
  transition: 0.2s;
  filter: grayscale(20%);
}

.card img:hover{
    filter:none;
}

.desc {
  padding: 0px;
  text-align: left;
  color:black;
  width:100%;
  line-height: 1.4em;
  display: inline;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 23%;
  padding:none;
}

@media only screen and (max-width: 1650px) {
  .responsive {
    width: 30%;
    margin: 6px 0;
  }
  .card{
    height: 310px;
  }
}

@media only screen and (max-width: 1200px) {
  .responsive {
    width: 47%;
  }
  .card{
    height: 350px;
  }
}

  @media only screen and (max-width: 1070px) {
    .responsive {
      width: 95%;
    }
    .card{
      height: auto;
    }

}
