@import url('https://unpkg.com/css.gg@2.0.0/icons/css/sun.css');


body{
    font-family: garamond;
    line-height: 1.5em;
    letter-spacing: 1px;
    background-color: #3c2c3e;
    background-image: url(images/background.jpg);
    color:rgb(131, 54, 83);
    font-size: 16px;
}

a{
    color:rgb(113, 68, 125);
}

a:hover{
    color:rgb(148, 49, 104);
}

li{
    list-style-type: circle;
    margin-left:-1em;
    line-height: 1em;
}

ul{
    line-height: 1em;  
}

ul.a, ul.a li {
  list-style-type: none;
}


th{
text-align: left;
border-bottom: 2px solid #fff;
}

table{ border-collapse: separate; border-spacing: 15px 0;
}

.content{
  padding: 20px;
}

section.box{
  border: rgb(117, 62, 98) 1px dashed;
  background-color: #fff;
  overflow-y: scroll;
  height: 100px;
  width: 30%;
  display: inline-block;
  margin-top: 10px;
}

section > h2{
  display: inline-flex;
  position: absolute;
  margin-top: -1em;
  background:rgb(255, 248, 248);
  padding: 0 4px;
}

.container { 
    margin-top: 50px;
    margin-left: 15%;
    width: 75%;
    height: 80%;
    display: grid;
    grid-template-columns: 250px 80%;
    grid-template-rows: auto minmax(auto, 80px);
    gap: 30px;
    grid-auto-flow: row;
    grid-template-areas:
      "aside main"
      "footer footer";
  }

  
  aside {
    grid-area: aside;
    background-color: rgb(255, 248, 248);
    border: 50px solid transparent;
    border-image-source: url(images/pink-border.png);
    border-image-slice: 80;
    border-image-repeat: round;
    border-image-outset: 5px;
    box-shadow: 0 0 15px 5px rgba(131, 104, 121, 0.455);
  }
  
  main {
    grid-area: main;
    min-height:65vh;
    background-color: rgb(255, 248, 248);
    border: 50px solid transparent;
    border-image-source: url(images/pink-border.png);
    border-image-slice: 80;
    border-image-repeat: round;
    border-image-outset: 5px;
    box-shadow: 0 0 15px 5px rgba(131, 104, 121, 0.455);
}
  
  footer {
    grid-area: footer;
    min-height: 20px;
    text-align: center;
    background-color: rgb(255, 248, 248);
    border: 50px solid transparent;
    border-image-source: url(images/pink-border.png);
    border-image-slice: 80;
    border-image-repeat: round;
    border-image-outset: 5px;
    box-shadow: 0 0 15px 5px rgba(131, 104, 121, 0.455);
}


   details summary{
    font-weight: bold;
    font-style: italic;
    font-size: larger;
  }

  details>* {
    margin-left: 1em;
  }
  
  details {
    border-left: 2px solid rgb(255, 255, 255);
  }
  
  details>details {
    border-left: 2px dashed rgb(255, 255, 255);
  }

  
  details>details>details {
    border-left: 2px dotted rgb(255, 255, 255);
  }


  /* moble view */

  @media ( max-width: 750px ) {


    ul li{
        display: inline;
        margin-left: 1em;
      }
      
    .button{
     display: none;
    }
    
    .container { 
        width: auto;
        display: grid;
        margin-left: 0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
          "aside"
          "main"
          "footer";
      }
      
      aside { grid-area: aside; text-align: left; max-height: 300px;}
      
      main { grid-area: main;
            margin-top: 10px; height: auto;}
      
      footer {
        grid-area: footer;
        text-align: left;
        max-height: 70px;
    }
    
      
    
    .ascii{
        font-family: monospace;
        white-space: pre;
    }

}

figure {
  margin-left: 0 !important;
  margin-right: 0 !important;
  position: relative;
  margin: 0;
}

figure img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
  
  /* PHOTOGRID STYLES */

  section {
    padding: 10px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 350px 350px;
    margin-right: 10px;
    gap: 10px;
  }
  .grid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .box-image {
    position: relative;
  }
  .box-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(46, 27, 37, 0.4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .box-image:hover .box-hover {
    display: flex;
  }
  @media screen and (max-width: 750px) {
    .grid img,
    .box-hover {
      min-height: 350px;
      max-height: 350px;
    }
  
    .gallery {
      padding: 10px;
    }
  }

  /* BLOG PAGE STYLES */

  .post-list{
    max-width: 700px;
  }

  .post-item{
    margin-top: 10px;
    padding: 10px;
    list-style-type: none;
    border: 1px #fff solid;
  }

  /* PHOTOGRID STYLES */

.card{
  background-color:white;
  padding:10px;
  height: 350px;
  margin:2px;
  border: 1px dotted rgb(138, 65, 93);
  transition: 0.3s;
}

.card:hover{
  rotate: 5deg;
  transform: scale(0.90);

}

.card img {
  width: 100%;
  height: auto;
  transition: 0.2s;
  filter: grayscale(50%);
}

.card img:hover{
    filter:none;
}

.desc {
  padding: 0px;
  text-align: left;
  color:black;
  width:100%;
  line-height: 1.4em;
  display: inline;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 23%;
  padding:none;
}

@media only screen and (max-width: 1650px) {
  .responsive {
    width: 30%;
    margin: 6px 0;
  }
  .card{
    height: 400px;
  }
}

@media only screen and (max-width: 1200px) {
  .responsive {
    width: 48%;
  }
  .card{
    height: 430px;
  }
}

  @media only screen and (max-width: 1050px) {
    .responsive {
      width: 95%;
    }
    .card{
      height: auto;
    }

}
