<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="{{ site.favicon }}" type="image/png"> <!-- Credit: https://pixelsafari.neocities.org/favicon/2 -->
            <link rel="preload" as="image" href="https://octothorp.es/?uri=https://snails.town/notebook/photogrid">
            <link rel="preload" as="image" href="https://octothorp.es/?uri=https://snails.town/notebook/templates/photogrid-layout.html">
            <link rel="octo:octothorpes" href="photogrid">
        <title>{{ site.title }}{% if title %} | {{ title }}{% endif %}</title>
            <!-- CSS/JS + CACHEBUSTING -->
            <link rel="stylesheet" href="/css/notebook.css?nocache={{ nocache }}">
            <link rel="stylesheet" href="/css/fonts.css">
            <link rel="stylesheet" href="/css/bootstrap-icons.css">

  </head>
  <body>
    <div class="container" style="text-align: left;">
     <a href="/notebook/archives">Archives</a> | <a href="/notebook">Notebook</a> | <a href="/">Homepage</a>
                        {{ content | safe }}
    </div>
    <button id="myBtn" title="Go to top"><i class="bi bi-arrow-up-square-fill"></i></button>
        <script src="/javascript/main.js"></script>
</body>
</html>