<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title or "snails.town" }}</title>

    <link
      rel="alternate"
      type="application/rss+xml"
      title="Blog RSS"
      href="/feed.xml"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Updates RSS"
      href="/updates/feed.xml"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/css/bootstrap-icons.css" />

    {% if page.url == "/" %}
      <link rel="stylesheet" href="/css/index.css" />
    {% elif page.url.startsWith("/blog") %}
      <link rel="stylesheet" href="/css/blog.css" />
    {% elif page.url.startsWith("/library") %}
      <link rel="stylesheet" href="/css/library.css" />
          {% elif page.url.startsWith("/exhibits") %}
      <link rel="stylesheet" href="/css/museum.css" />
    {% endif %}
  </head>

  <body>
    {{ content | safe }}

    <script src="/javascript/main.js?nocache={{ nocache }}"></script>
  </body>
</html>
