<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- CSS/JS + CACHEBUSTING --->
    <link rel="stylesheet" href="/css/styles.css{{ nocache }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">


    <script 
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
  </script>
    {% block script %}
    {% if script %}
        <script src="/javascript/{{ script }}"></script>
    {% endif %}
{% endblock %}


    <title>{{ title }}</title>
  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>



    <div class="container">

  <aside>

<!----
                                
            \`*-.                    
            )  _`-.                 
            .  : `. .                
            : _   '  \               
            ; *` _.   `*-._          
            `-.-'          `-.       
              ;       `       `.     
              :.       .        \    
              . \  .   :   .-'   .   
              '  `+.;  ;  '      :   
              :  '  |    ;       ;-. 
              ; '   : :`-:     _.`* ;
          .*' /  .*' ; .*`- +'  `*' 
          `*-*   `*-*  `*-*'
---->
      <img style="height:260px;"  src="{{ nesting }}images/icon.png">
      <h1 style="margin-top: .5em;">Navigation</h1>    
  <ul class="a">
  <li><a href="/">Home</a></li>
  <li><a href="/medialog">Media Log</a></li>
  <li><a href="/photogrid">Photo Grid</a></li>
  <li><a href="/blog">Blog</a>
  <!-- COMMENTED OUT FOR NOW
  <li><a href="/now">/now</a></li>
  <li><a href="/sitemap">/sitemap</a></li>
  -->
  </ul>

  </aside>

  <main>
    <div class="content">{{ content | safe }}</div>
  </main>

<!-- FOOTER --->
  <footer>
  Created with ♡ and hosted on <a href="https://neocities.org/" target="_blank" rel="noreferrer noopener">Neocities</a>. (ﾐዋ ﻌ ዋﾐ)ﾉ </footer>
</div>
  </body>
</html>



