---
layout: main
---
<main>
<script src="/javascript/mylikebutton.js"></script>

<article class="blog-post">

    <h1>{{ title }}</h1>
    <i class="bi bi-calendar-heart"></i> <time datetime="{{ page.date | dateIso }}">{{ page.date | dateReadable }}</time> | 
    {% if tags %}
    {% for tag in tags %}
      {% if tag != "blog" and tag != "posts" %}
        <a href="/blog/tags/{{ tag | slug }}/">#{{ tag }}</a>{% if not loop.last %}, {% endif %}
      {% endif %}
    {% endfor %}

  {% endif %}

  

  <div class="blog-content">
    {% set tocHtml = content | toc %}
{% if tocHtml %}
    <h2>Table of Contents</h2>
    {{ tocHtml | safe }}
{% endif %}

    {{ content | safe }}
  </div>
---
<br><br>
<!-- Google Form Like Button -->
<form class="mylikebutton">
  🤍
</form>


</article>

    {% set previousPost = collections.blog | getPreviousCollectionItem(page) %}
    {% if previousPost %}
      <a href="{{ previousPost.url }}">← {{ previousPost.data.title }}</a>
    {% endif %}
|
    {% set nextPost = collections.blog | getNextCollectionItem(page) %}
    {% if nextPost %}
      <a href="{{ nextPost.url }}">{{ nextPost.data.title }} →</a>
    {% endif %}

</main>