---
layout: main
---

<h1>Links</h1>

<button class="toc-toggle" onclick="toggleTOC()">
  Toggle Table of Contents</button> 
<br><br>
<nav class="toc collapsed" id="toc">
  <h2>Table of Contents</h2>
  {{ content | toc | safe }}
</nav>

   {{ content | safe }}

   <script>
    function toggleTOC() {
      const toc = document.getElementById("toc");
      toc.classList.toggle("collapsed");
    }
  </script>

