<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="{{ site.favicon }}" type="image/png"> <!-- Credit: https://pixelsafari.neocities.org/favicon/2 -->
        <title>{{ site.title }}{% if title %} | {{ title }}{% endif %}</title>
    <link rel="stylesheet" href="/css/notebook.css">
  </head>
  <body>
    <div class="book">
            <div class="binder"></div>
            <div class="left">
                            <img src="/images/graphics/accords-notebook.png"><br><br>
                            <a href="/">↵ go back home</a>
            </div>
 
            <div class="right">
                <div class="box2">
                        {{ content | safe }}
            </div>
        </div>
    </div>
</body>
</html>