#box{
    width:400px;
    height:0px;
    margin:0 auto;
    overflow:hidden;
    transition: height 1s ease-in-out; /* Adjust the duration here */
    text-align: center;
  }

  
ul {
    list-style-type: none;
  }
  li {
    float: left;
  }
  li a {
    background-color: rgb(0, 0, 0);
    margin: 5px;
    display: inline-block;
    color: black;
    text-align: center;
    padding:5px;
    text-decoration: none;
    transition: all 1s ease-in-out; /* Adjust the duration here */
  }
  li a:hover {
    transition: all 1s ease-in-out; /* Adjust the duration here */
    background-color: rgb(58, 58, 58);
    color: white;
    font-weight: bold;
  }