
<div class="link-buttons button-wall">
  {% for button in buttons %}
    <a href="{{ button.url }}" target="_blank" rel="noopener">
      <img
        src="/images/buttons/sites/{{ button.image }}"
        alt="{{ button.name }}"
      >
    </a>
  {% endfor %}
  <p>If you want your site button changed, link updated, or link removed for any reason, feel free to post a message on my <a rel="noreferrer" target="_blank" href="https://neocities.org/site/snails">neocities profile</a> or <a href="mailto:hello@snails.town">email me</a>.</p>

</div>
