<div class="nav"><div class="nav">
  <ul class="nav-list">

        <li class="nav-item has-dropdown" data-desc="A window into my personal life.">
      <a href="#">Bedroom</a>
      <ul class="dropdown">
        <li><a href="/photogrid">Photos</a></li>
        <li><a href="/blog">Writings</a></li>
        <li><s><a href="#">Microblog</a></s></li>
        <li><s><a href="#">Shrines</a></s></li>
        <li><s><a href="#">Toybox</a></s></li>
      </ul>
    </li>

        <li class="nav-item has-dropdown" data-desc="Small web community gathering.">
      <a href="/links">Courtyard</a>
      <ul class="dropdown">
        <li><a href="/links#buttons">Button Wall</a></li>
        <li><a href="/links#webrings">Webrings & Cliques</a></li>
        <li><a href="/guestbook">Guestbook</a></li>
      </ul>
    </li>

    <li class="nav-item" data-desc="A collection of resources, reading material, and bookmarks.">
      <a href="/library">Library</a>
    </li>

       <li class="nav-item has-dropdown" data-desc="Art, media logs, and works in progress. More to come.">
      <a href="#">Museum</a>
      <ul class="dropdown">
        <li><a href="/exhibits">Exhibits</a></li>
        <li><s><a href="#">Media Logs</a></s></li>
      </ul>
    </li>

    <li class="nav-item has-dropdown" data-desc="Tools, templates, and site notes.">
      <a href="#">Laboratory</a>
      <ul class="dropdown">
        <li><a href="/site">About</a></li>
        <li><a href="/updates">Changelog</a></li>
        <li><a href="/site#archives">Archives</a></li>
        <li><a href="/map">Sitemap</a></li>
        <li><s><a href="#">Templates & Widgets</a></s></li>
      </ul>
    </li>


  </ul>
</div>
</div>