{% if photos and photos.length %}
{% set recent = photos[0] %}

<div class="locket" title="Check out my most recent upload!">
  <a href="/photogrid" class="locket-inner">
    <img src="/images/photogrid/{{ recent.src }}" alt="Recent Photo">
  </a>

  <img class="locket-open" src="/images/graphics/locket-open.png" alt="">
  <img class="locket-closed" src="/images/graphics/locket-closed.png" alt="">
</div>

{% endif %}
