<div class="cliques">
<a href="https://angel.valentinely.cc/"><img src="/images/courtyard/tiny-222.png"></a>
<a href="https://ballonlea.neocities.org/trickyfox/"><img src="/images/courtyard/wing-left.png"> I am angelic ♥<img src="/images/courtyard/wing-right.png"> </a>
 <a href="https://dust.kuchiki.net/" target="_blank"><img src="/images/courtyard/cats.gif" title="cats"></a>
 <a href="https://mewchara.love/clique/doll"><img src="/images/courtyard/dollred.png"></a>
</div>
<div class="cliques square">
  <a href="https://grrrl.valentinely.cc/"><img src="/images/courtyard/madebyagirl.png"></a>
  </div>