 <div class="mobile-links">
      <a href="/blog">Blog</a>
      <a href="/links">Neighborhood</a>
      <a href="/medialog">MediaLog</a>
      <a href="/notebook">Notebook</a>
      <a href="/site">About</a>
      <a href="/shrines">Shrines</a>
      </div>
      <nav class="sidebar-links">
      <h3 class="nav-title">Navigation</h3>
      <a href="/blog">Blog</a>
      <a href="/links">Neighborhood</a>
      <a href="/notebook">Notebook</a>
      <a href="/medialog">MediaLog</a>
      <a href="/site">About</a>
      <a href="/shrines">Shrines</a>
         <img src="/images/intoner-white.png">
    </nav>