
<div class="webring">
  <a href="https://webring.bucketfish.me/redirect.html?to=prev&amp;name=snails"><i class="bi bi-arrow-left"></i></a>
  | <a class="bucket" href="https://webring.bucketfish.me"> Bucket Webring</a>
  | <a href="https://webring.bucketfish.me/redirect.html?to=random&amp;name=snails"><i class="bi bi-shuffle"></i></a>
  | <a href="https://webring.bucketfish.me/redirect.html?to=next&amp;name=snails"><i class="bi bi-arrow-right"></i></a>
</div>

<div class="webring"> 
  <a href="https://baccyflap.com/noai/?prv&amp;s=nal" target="_top">« prev</a> |
  <a href="https://baccyflap.com/noai" target="_blank">no ai webring</a>
  <a style="font-size:60%" href="https://baccyflap.com/noai/?rnd" target="_top">(random)</a> |
  <a href="https://baccyflap.com/noai/?nxt&amp;s=nal" target="_top">next »</a>
</div>

<div class="webring" style="background-image: url('https://void.shroom.ink/src/img/background.webp');font-family:monospace;width:250px;text-align:center;">
  <a aria-label="Previous" href="https://void.shroom.ink/snails/previous" id="previous" target="_blank" title="previous">←</a>
  <a aria-label="Home" href="https://void.shroom.ink/" id="home" target="_blank" title="home">void.shrooms</a>
  <a aria-label="Next" href="https://void.shroom.ink/snails/next" id="next" target="_blank" title="next">→</a>
</div>

<div class="webring">
<div id='gamer-ring'>
<script type="text/javascript" src="https://gamerring.neocities.org/js/variables.js"></script>
<script type="text/javascript" src="https://gamerring.neocities.org/js/widget-minimal.js"></script>
</div>
</div>

<div class="webring">
<script src="https://jbc.lol/webrings/ssgring/pmoring.js"></script>
</div>

<div class=webring>
  <style>
#rice-ring img{filter:drop-shadow(0 -1px 0 #fff) drop-shadow(0 1px 0 #fff) drop-shadow(-1px 0 0 #fff) drop-shadow(1px 0 0 #fff);image-rendering:pixelated}#rice-ring{width:100%;display:flex;flex-direction:column;justify-content:center!important}#rice-ring .webring-flex{display:flex;justify-content:center!important}#rice-ring .webring-title{text-align:center!important;margin:0;position:relative;font-size:25px!important}#rice-ring .webring-image{display:block;position:relative;height:100px}#rice-ring .webring-footer{text-align:center}#rice-ring .webring-next,#rice-ring .webring-prev{display:flex;flex-direction:column;justify-content:center!important}#rice-ring .webring-links{font-size:18px}
</style>
<div id='rice-ring'>
<script type="text/javascript" src="https://terakun.nekoweb.org/ricepaddy/webring-variables.js"></script>
<script type="text/javascript" src="https://terakun.nekoweb.org/ricepaddy/webring-widget.js"></script>
</div>
</div>
