<div class="webring"> 
 <map name="w95widget">
<area href="https://baccyflap.com/noai" target="_blank" shape="rect" coords="0,0,308,22" alt="no ai webring" title="no ai webring">
<area href="https://baccyflap.com/noai/?prv&s=nal" target="_top" shape="rect" coords="56,36,130,58" alt="previous" title="previous">
<area href="https://baccyflap.com/noai/?rnd" target="_top" shape="rect" coords="137,36,211,58" alt="random" title="random">
<area href="https://baccyflap.com/noai/?nxt&s=nal" target="_top" shape="rect" coords="218,36,292,58" alt="next" title="next">
</map>
<img usemap="#w95widget" src="https://baccyflap.com/noai/w95widget.gif" alt="a gray Windows 95 style dialog box titled 'The No AI Webring' with a little icon showing a computer chip in a rubbish bin. beside it are three clickable buttons, labeled Previous, Random... and Next"> 
</div>

<div class="webring">
 
  <div id="voidShrooms"><style>#voidShrooms{width:200px;height:50px;background:url("https://void.shroom.ink/src/img/background.webp") #171717;font-family:monospace;outline:5px double #391820;outline-offset:-5px;display:grid;grid-template-columns:1fr 1fr 1fr;margin:auto;}#voidShrooms a{color:#efefef;text-decoration:none;font-size:2.2em;text-align:center;align-self:center}#voidShrooms #home{font-size:1em;color:#f4f2e6}</style><a aria-label="Previous" href="https://void.shroom.ink/snails/previous" id="previous" target="_blank" title="previous">←</a> <a aria-label="Home" href="https://void.shroom.ink/" id="home" target="_blank" title="home">void.shrooms</a> <a aria-label="Next" href="https://void.shroom.ink/snails/next" id="next" target="_blank" title="next">→</a></div>

</div>


<div class="webring">
<script src="https://stampsociety.howsoonisnow.org/js/widget.js" class="standard"></script>
</div>


<div class="webring">
<div id="gamer-ring"></div>
<script src="https://gamerring.neocities.org/js/variables.js"></script>
<script src="https://gamerring.neocities.org/js/widget-minimal.js"></script>
</div>



<div class="webring">
  <a href="https://webring.bucketfish.me/redirect.html?to=prev&amp;name=snails"><i class="bi bi-arrow-left"></i></a>
  &#124; <a class="bucket" href="https://webring.bucketfish.me"> Bucket Webring</a>
  &#124; <a href="https://webring.bucketfish.me/redirect.html?to=random&amp;name=snails"><i class="bi bi-shuffle"></i></a>
  &#124; <a href="https://webring.bucketfish.me/redirect.html?to=next&amp;name=snails"><i class="bi bi-arrow-right"></i></a>
</div>

<div class="webring">
  <a href="https://jbc.lol/webrings/ssgring/redirect?slug=snails&way=prev"><i class="bi bi-arrow-left"></i></a>
  &#124; <a href="https://jbc.lol/webrings/ssgring/"> SSGRing </a>
  &#124; <a href="https://jbc.lol/webrings/ssgring/redirect?way=rand"><i class="bi bi-shuffle"></i></a>
  &#124; <a href="https://jbc.lol/webrings/ssgring/redirect?slug=snails&way=next"><i class="bi bi-arrow-right"></i></a>
</div>