---
title: Media log / Anime
layout: main
nesting: "/"
permalink: /medialog/anime/
sitemapGroup: medialog
---

<h1>Anime Log</h1>

<div class="nav-links">
  <a href="/medialog/games">games</a> |
  <a href="/medialog/manga">manga</a> | 
  <a href="{{ page.url }}">anime</a>
</div>

<p>Data fetched from <a href="https://anilist.co/user/snails/" target="_blank">anilist</a></p>


{% set favorites = anime.favorites or [] %}
{% set anime = anime.anime or [] %}

{% if favorites.length %}
  <section class="anime-section">
    <h2>Favorites</h2>
    <div class="anime-grid">
      {% for fav in favorites %}
        <div class="anime-card" style="width: auto;">
          <a href="{{ fav.url }}" target="_blank">
            <img src="{{ fav.cover }}" style=" width: 100%;" alt="{{ fav.title }} cover" class="anime-cover">
            <p class="anime-title">{{ fav.title }}</p>
          </a>
        </div>
      {% endfor %}
    </div>
  </section>
{% endif %}

{% set statusLabels = {
    current: "Watching",
    completed: "Completed",
    planning: "Planning"
  } %}
  

{% for key, label in statusLabels %}
  {% set filtered = anime | filterByStatus(key) %}
  {% if filtered.length %}
    <div class="anime-section">
      <h2>{{ label }}</h2>
      <div class="anime-grid">
        {% for m in filtered %}
          <div class="anime-card">
            <img src="{{ m.cover }}" alt="{{ m.title }} cover" class="anime-cover">
            <div style="width: 100%;">
              <p class="anime-title">{{ m.title }}</p>

              {% if key == "planning" %}
                <div class="anime-progress-bar">
                  <div class="bar" style="width: 0%; background: #ccc;"></div>
                </div>

              {% elif key == "completed" %}
                <div class="anime-progress-bar">
                  <div class="bar" style="width: 100%;"></div>
                </div>

              {% elif key == "current" %}
                {% if m.episodes and m.episodes > 0 %}
                  {% set percent = (m.progress / m.episodes * 100) | round %}
                  <div class="anime-progress-bar">
                    <div class="bar" style="width: {{ percent }}%;"></div>
                  </div>
                {% else %}
                  <div class="anime-progress-bar">
                    <div class="bar" style="width: 50%; background: var(--wine);"></div>
                  </div>
                {% endif %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endfor %}
