---
title: Media Log / Games
layout: main
nesting: "../"
permalink: /medialog/games/
---

<h1>Medialog &gt; Games</h1>

<div class="nav-links">
  <a href="{{ page.url }}">games</a> |
  <a href="manga">manga</a> | 
  <a href="anime">anime</a>
</div>

<hr>

<h2>Games I'm Playing</h2>

<h3>Currently Playing</h3>
<table>
  <thead>
    <tr><th>Title</th><th>Platform</th></tr>
  </thead>
  <tbody>
    {% for game in gamelog %}
      {% if game.type == "played" and game.status == "currently playing" %}
        <tr>
          <td>{{ game.title }}</td>
            <td class="platform">
              {% if game.platformImage %}
                <img src="{{ game.platformImage }}" alt="{{ game.platform }} badge">
              {% else %}
                {{ game.platform }}
              {% endif %}
            </td>       
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<h3>Completed</h3>
<table>
  <thead>
    <tr><th>Title</th><th>Platform</th></tr>
  </thead>
  <tbody>
    {% for game in gamelog %}
      {% if game.type == "played" and game.status == "completed" %}
        <tr>
          <td>{{ game.title }}</td>
            <td class="platform">
              {% if game.platformImage %}
                <img src="{{ game.platformImage }}" alt="{{ game.platform }} badge">
              {% else %}
                {{ game.platform }}
              {% endif %}
            </td>       
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<h3>Planning</h3>
<table>
  <thead>
    <tr><th>Title</th><th>Platform</th></tr>
  </thead>
  <tbody>
    {% for game in gamelog %}
      {% if game.type == "played" and game.status == "planning" %}
        <tr>
          <td>{{ game.title }}</td>
            <td class="platform">
              {% if game.platformImage %}
                <img src="{{ game.platformImage }}" alt="{{ game.platform }} badge">
              {% else %}
                {{ game.platform }}
              {% endif %}
            </td>       
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<hr>

<h2>Games I'm Watching my BF play</h2>

<h3>Currently Watching</h3>
<table>
  <thead>
    <tr><th>Title</th><th>Platform</th></tr>
  </thead>
  <tbody>
    {% for game in gamelog %}
      {% if game.type == "watched" and game.status == "currently watching" %}
        <tr>
          <td>{{ game.title }}</td>
          <td class="platform">
            {% if game.platformImage %}
              <img src="{{ game.platformImage }}" alt="{{ game.platform }} badge">
            {% else %}
              {{ game.platform }}
            {% endif %}
          </td>  
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<h3>Completed</h3>
<table>
  <thead>
    <tr><th>Title</th><th>Platform</th></tr>
  </thead>
  <tbody>
    {% for game in gamelog %}
      {% if game.type == "watched" and game.status == "completed" %}
        <tr>
          <td>{{ game.title }}</td>
            <td class="platform">
              {% if game.platformImage %}
                <img src="{{ game.platformImage }}" alt="{{ game.platform }} badge">
              {% else %}
                {{ game.platform }}
              {% endif %}
            </td>       
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>

<h3>Planning</h3>
<table>
  <thead>
    <tr><th>Title</th><th>Platform</th></tr>
  </thead>
  <tbody>
    {% for game in gamelog %}
      {% if game.type == "watched" and game.status == "planning" %}
        <tr>
          <td>{{ game.title }}</td>
            <td class="platform">
              {% if game.platformImage %}
                <img src="{{ game.platformImage }}" alt="{{ game.platform }} badge">
              {% else %}
                {{ game.platform }}
              {% endif %}
            </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
