---
title: Homepage
layout: main
script: main.js
---
<img src="/images/banner.png" width="100%" height="190px" style="object-fit: cover;">

<h1>Welcome to my site </h1>

<p>This is <b>snails</b>. A personal website and archive of my life and interests. Here, I document my thoughts, pictures, and media I enjoy.
This website is <b>mobile-friendly</b>, <b>safe for work</b>, and uses <b>JavaScript</b>. If you want to learn more about the website please refer to <a href="/site">Site Info</a>. ⋆˚✿˖°
</p>


<img src="/images/divider.png" width="100%">

  {% set post = collections.blog[0] %}
  {% if post %}<p><b>Latest Post: </b>"<a href="{{ post.url }}">{{ post.data.title }}" </a>
  <i class="bi bi-calendar-heart"></i> <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time></p>
  {% endif %}
  {% if updates and updates.length %}
  {% set latest = updates[0] %}
  <p><strong>Last updated:</strong>
    <time datetime="{{ latest.date | dateIso }}">
      {{ latest.date | dateReadable }}
    </time> – {{ latest.blurb | safe }}</p>
{% endif %}



