---
title: Homepage
layout: main
script: main.js
navigation:
  parent: null
  order: 1
---

<div class="home">

  <!-- Top row section -->
  <div class="top-row">
    <!-- Left column -->
    <div class="intro">
    <h1>Welcome to my site</h1>
    <p>This is <b>snails</b>, a gentle, snail-paced corner of the internet. It’s a personal archive of my thoughts, snapshots, and other tiny treasures I’ve gathered. 
      This site is <b>mobile-friendly</b>, <b>safe for work</b>, and uses a little <b>JavaScript</b> magic. See <a href="/site">Site Info</a> for more behind the scenes.
    </p>
      <img src="/images/divider.png" width="100%">

    </div>

    <!-- Right column  -->
    <div class="latest-content">
      <div class="latest-picture">
        <fieldset>
          <legend><a href="/photogrid">Latest Picture</a></legend>
          {% if photos and photos.length %}
            {% set recent = photos[0] %}
            <div class="responsive">
              <a href="/photogrid">
                <img src="images/photogrid/{{ recent.src }}">
              </a>
            </div>
          {% endif %}
        </fieldset>
      </div>
      <br>
      <div class="latest-blog-post">
        <fieldset>
          {% set post = collections.blog[0] %}
          {% if post %}
            <legend><a href="/blog">Latest  Blog Post</a></legend>
            <h2><a href="{{ post.url }}">{{ post.data.title }} </a></h2>
            <i class="bi bi-calendar-heart"></i> <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
          {% endif %}
          {% if post.data.excerpt %}
            <p>{{ post.data.excerpt }}</p>
          {% endif %}
        </fieldset>
      </div>
    </div>
  </div>

  <!-- Bottom row section -->
  <div class="bottom-row">
    <div class="webrings">
      <fieldset>
        <legend>To-Do List</legend>
        
        <ul class="to-do">
          <li>RSS Feed</li>
    
          <li>Make a custom <s>favicon and</s> cursor</li>
          <li>Add more stuff to my homepage!!!</li>
          <li>Join some webrings or cliques</li>
          <li>Comment box or guestbook perhaps</li>
          <li>On Learning Japanese/resources</li>
          <li>Husband page</li>
          <li><s>Sitemap</s></li>
          <li><s>About the site/links</s></li>
          <li><s>Photogrid</s></li>
          <li><s>Blog / blog tags</s></li>
      </ul>

      </fieldset>
    </div>
    <div class="updates">
      <fieldset>
        <legend>Updates</legend>
        {% if updates and updates.length %}
          <ul>
            {% for update in updates %}
              <li>
                <strong><time datetime="{{ update.date | dateIso }}">
                  {{ update.date | dateReadable }}</strong>
                </time> – {{ update.blurb | safe }}
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No updates yet.</p>
        {% endif %}
      </fieldset>
    </div>
  </div>

</div>
