---
title: Courtyard
layout: index.njk
showLocket: false
---     
<main>
  <div class="main-container">
<h2>Courtyard</h2>
<h3>Link me 𓆑. ݁₊</h3>

<div class="link-buttons button-wall">
  <a href="#"><img src="/images/buttons/sites/me/snailstown.gif" alt="SnailsV4"></a>
    <a href="#"><img src="/images/buttons/sites/me/snailsbutton.png" alt="SnailsV1"></a>
  <a href="#"><img src="/images/buttons/sites/me/snails.png" alt="SnailsV2"></a>
  <a href="#"><img src="/images/buttons/sites/me/snailsv2.png" alt="SnailsV3"></a>
  </div>
  <textarea class="code-textarea" style="height: auto; min-width: 300px;">&lt;a href="https://snails.neocities.org/" target="_blank"&gt;&lt;img src="/snails.png" alt="snails"&gt;&lt;/a&gt;</textarea>

  <ul>
    <li>Please do not hotlink</li>
    <li>Credit for button #4: <a href="https://bulltown.neocities.org/">bulltown</a></li>
  </ul>

<h2 id="buttons">Buttons</h2>
<div id="buttonwall">
  {% include "html/main/buttonwall.html" %}
</div>
</div>
<div class="main-container">
<h2 id="webrings">Webrings</h2>
{% include "html/main/webrings.html" %} 
<h2>Cliques</h2>
 <a href="https://lovesick.cafe/esoterica/angelnumbers"><img src="/images/courtyard/tiny-222.png"></a>
  <img src="/images/courtyard/wing-left.png"> I am <a href="https://ballonlea.neocities.org/trickyfox/"> angelic ♥</a> <img src="/images/courtyard/wing-right.png">
  <a href="https://rice.place/colorclique.html"><img src="https://rice.place/color/colorcliqueBLACK1.png"></a>
    <a href="https://lovesick.cafe/grrrl"><img src="/images/courtyard/madebyagirl.png"></a>
    <a href="https://dust.kuchiki.net/" target="_blank"><img src="/images/courtyard/cats.gif" title="cats"></a>
    <h2>Fanlistings</h2>
</div>
</main>

