@import url('https://unpkg.com/css.gg@2.0.0/icons/css/sun.css');

body{
    font-family: monospace;
    background-color: rgb(46, 27, 37);
    color:#fff;
    font-size: 16px;
}

a{
    color:rgb(233, 207, 240);
}

a:hover{
    color:rgb(148, 49, 104);
}

li{
    list-style-type: circle;
    margin-left:-1em;
    line-height: 1em;
}

ul{
    line-height: 1em;  
}

ul.a, ul.a li {
  list-style-type: none;
}


th{
text-align: left;
border-bottom: 2px solid #fff;
}

table{ border-collapse: separate; border-spacing: 15px 0;
}



.container { 
    width: auto;
    height: 95vh;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 5% auto 5%;
    gap: 50px 50px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header" 
      "aside main"
      "footer footer";
  }

  header { grid-area: header; }
  
  aside { grid-area: aside; }
  
  main { grid-area: main; 
        margin-top: 30px;}
  
  footer {
    grid-area: footer;
    text-align: center;
}

.home {  display: grid;
    grid-template-columns: 55% 1fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "content right";
  }
  
  .content { grid-area: content; }
  
  .right { grid-area: right; }
  

.ascii{
    font-family: monospace;
    white-space: pre;
}

.about { 
    display: grid;
    grid-template-columns: 160px 1.7fr;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
      "pic info";
      max-width:800px;
      padding:5px;
      border-radius:30px;
      border: dotted white 2px;
  }

  .about li{
    line-height: .5em;
    list-style: square;
  }
  
  .pic { grid-area: pic;
    width: 200px;
    }

    .pic img{
    width:200px;
    border: dotted white 2px;
    border-radius:50%;
    margin:-30px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    }

    .pic img:hover{
        transform: rotate(10deg);
    }
  
  .info { grid-area: info;}

   details summary{
    font-weight: bold;
    font-style: italic;
    font-size: larger;
  }

  details>* {
    margin-left: 1em;
  }
  
  details {
    border-left: 2px solid rgb(255, 255, 255);
  }
  
  details>details {
    border-left: 2px dashed rgb(255, 255, 255);
  }

  
  details>details>details {
    border-left: 2px dotted rgb(255, 255, 255);
  }


  /* moble view */

  @media ( max-width: 750px ) {


    ul li{
        display: inline;
        margin-left: 1em;
      }
      
    .button{
     display: none;
    }
    
    .container { 
        width: auto;
        height: 95vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
          "aside"
          "main"
          "footer";
      }
    

      
      aside { grid-area: aside; text-align: left; margin-left:-20px;}
      
      main { grid-area: main; 
            margin-top: 10px ;}
      
      footer {
        grid-area: footer;
        text-align: left;
    }
    
    .home {  display: grid;
        grid-template-columns: 55% 1fr;
        grid-template-rows: 1fr;
        grid-auto-columns: 1fr;
        gap: 10px 10px;
        grid-auto-flow: row;
        grid-template-areas:
          "content right";
      }
      
      .content { grid-area: content; }
      
      .right { grid-area: right; }
      
    
    .ascii{
        font-family: monospace;
        white-space: pre;
    }

}

figure {
  margin-left: 0 !important;
  margin-right: 0 !important;
  position: relative;
  margin: 0;
}

figure img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
  
  /* PHOTOGRID STYLES */

  section {
    padding: 10px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 350px 350px;
    margin-right: 10px;
    gap: 10px;
  }
  .grid img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .box-image {
    position: relative;
  }
  .box-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(46, 27, 37, 0.4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .box-image:hover .box-hover {
    display: flex;
  }
  @media screen and (max-width: 750px) {
    .grid img,
    .box-hover {
      min-height: 350px;
      max-height: 350px;
    }
  
    .gallery {
      padding: 10px;
    }
  }